<!-- Edit Profile Modal (Partial View) - _EditProfileModal.cshtml -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="editId">ID:</label>
                    <input type="text" class="form-control" id="editId" disabled>
                </div>
                <div class="form-group">
                    <label for="editProfileType">Profile Type:</label>
                    <input type="text" class="form-control" id="editProfileType" disabled>
                </div>
                <div class="form-group">
                    <label for="editName">New Name:</label>
                    <input type="text" class="form-control" id="editName">
                    <small id="nameempty" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                    <label for="editUrl">New URL:</label>
                    <input type="text" class="form-control" id="editUrl">
                    <small id="urlempty" class="form-text text-danger"></small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" onclick="cancelEdit()">Cancel</button>
                <button type="button" class="btn btn-success" onclick="prepareUpdate()">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    function prepareUpdate() {
        var accId = $('#editId').val();
        var profileType = $('#editProfileType').val();
        var name = $('#editName').val();
        var url = $('#editUrl').val();

        if (!name.trim()) {
            alert('Account Name should not be empty.');
            return;
        }

        else if (!url.trim()) {
            alert('URL should not be empty.');
            return;
        }

        else {
            $('#editName').val('');
            $('#editUrl').val('');
            updateProfile(accId, profileType, name, url);
        }


    }


</script>